@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');

body{
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
	padding: 100px 50px;

}

.hero-banner{
	/*background-color: #cc3333;*/
	background-image: url("background1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 80vh;
	padding: 50px 20px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}*/

h1{
	font-weight: 800;
	font-size: 50px;

}

h2{

}

h3{
	font-size: 20px;
	font-weight: bold;
}
.hero-banner h3{
	color: white;
	margin: 0;
}
.hero-banner h1{
	color: white;
	margin: 0px 0 20px;
	padding-top: 20px;
}

h4{

}

a.cta, button.cta{
	font-size: 20px;
	font-weight: bold;
	color: white;
	background: #cc3333;
	display: inline-block;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 10px;
	margin: 20px 0;
	box-shadow: 1px 3px 7px rgba(0, 0, 0, .5);
}

.cartoon{
	width: 340px; 
	position: absolute;
	top: 110px;
	right: 50px;
}

@media only screen and (max-width: 780px) {


	.wrapper{
		z-index: 2;
	}
}

@media only screen and (max-width: 689px) {
	.cartoon{
		display: none;
	}
}

nav{
	height: 100px;
	background-color: rgba(0,0,0, .5);
	position: sticky; top: 0;
	padding-left: 20px;
	z-index: 10;
}

nav .logo{
	display: flex;
	width: 300px;
	height: 40px;
	position: absolute; top:33%;
	margin-top: -20px;
	text-decoration: none;
	font-size: 50px;
	font-weight: 800;
	color: white;
	margin-left: 50px;

}

nav ul{
	
	padding: 0;
	margin: 0;
	padding: 33px 55px;
	align-items: center;
	left: 0px;
}

nav ul li{
	padding: 0;
	margin: 0;
	display: block;
	float: right;
	align-items: center;
}

nav ul li a{
	display: block;
	height: 100%;
	box-sizing: border-box;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	padding:0 15px;
	color: white;
	font-weight: bold;
}

.services{
	width: 100%;
	height: auto;
	align-items: center;


}

.services .service-row{
	
	margin: 0 auto;
	height: auto;
	padding: 50px 70px;
	display: grid;
	
	grid-template-columns: repeat( auto-fit, minmax(250px, 251px));
	
	grid-gap: 40px;
	justify-content: center;
}

.services .service-row .col{
	box-sizing: border-box;
	height: 300px;
	text-align: center;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-top: 50px;


}

.services .service-row .col h3{
	position: relative;
	color: white;
	font-size: 30px;
	text-shadow: 1px 3px 5px #000;
}

.services .service-row .col a{
	position: absolute;
	bottom: 35px;
	color: white;
	text-decoration: none;
	text-shadow: 1px 3px 5px #000;
}

/*@media only screen and (max-width: 1120px){
	.services .service-row{
	
		margin: 0 auto;
		height: auto;
		padding: 50px 5px;
		display: grid;
		
		grid-template-columns: repeat( auto-fit, minmax(250px, 251px));
		grid-template-rows: repeat(auto-fill, 300px);
		grid-gap: calc(10px + 10%);
		justify-content: center;
	}
}

@media only screen and (max-width: 1040px){
	.services .service-row{
	
		margin: 0 auto;
		height: auto;
		padding: 50px 100px;
		display: grid;
		
		grid-template-columns: repeat( auto-fit, minmax(250px, 251fr));
		grid-template-rows: repeat(auto-fit, minmax(300px 1fr));
		grid-gap: calc(10px + 10%);
		justify-content: center;
	}
}*/

.services .service-row .col-1{
	background-image: url("col1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.services .service-row .col-2{
	background-image: url("col2.jpg");
	background-size: cover;
	background-repeat: no-repeat;	
}

.services .service-row .col-3{
	background-image: url("col3.jpg");
	background-size: cover;
	background-repeat: no-repeat;	
}

.services .more{

}

.about-us{

}

.about-text{
	height: auto;

}

.some-list{
	width: 470px;
	padding: 20px 20px 0 20px;
	box-sizing: border-box;background-color: silver;
	float: left;
	margin: 0 20px 20px 0;
}

.about-text h3{
	font-size: 30px;
	width:960px;
	margin: 0 auto;
	padding: 10px;

}
.about-text p{
	font-size: 20px;
}

.floating{
	overflow-wrap: break-word;
}
.about-text .wrapper{
	height: auto;
	width: auto;
}


.some-list li{
	height: 70px;
	border-radius: 10px;
	font-size: 40px;
	color: white;
	font-weight: bold;
	display: block;
	margin-bottom: 20px;
	padding-right: 6px 20px;
	box-sizing: border-box;
}

.some-list li.blue{background-color: blue;}
.some-list li.grey{background-color: grey;}
.some-list li.yellow{background-color: yellow; color: #000}
.some-list li.green{background-color: green;}
.some-list li.purple{background-color: purple;}
.some-list li.orange{background-color: orange;}

.about-image{
	float: right;
	transform: translateY(30%);
	margin: 10px;
}

/*   */
/* 
	<div class="about-us" id="get-started">
		<div class="about-text">
			<ul class="some-list">
				<li class="blue">this littrally does nothing</li>
				<li class="grey">&nbsp;</li>
				<li class="yellow dragging">something written</li>
				<li class="green">not important </li>
				<li class="purple">this is just an example</li>
				<li class="orange">to see how to do it</li>
			</ul>
			<h3>About Us</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi recusandae deleniti officiis, necessitatibus. Ad nulla dolore molestias provident fugit quam excepturi, facilis, saepe nam. Culpa aliquid temporibus quas quaerat iste mollitia a, adipisci neque. Quidem libero non temporibus consectetur sit ipsum, reprehenderit vitae. Nostrum dignissimos ad eos praesentium ipsam ratione laudantium recusandae minima!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, unde debitis quasi dolorum distinctio eius voluptates ea aut exercitationem incidunt, sequi excepturi quibusdam, perferendis ex doloremque minus reprehenderit odio quod.</p>
			<p>Repudiandae repellat, nam cumque rem quas enim suscipit sit sapiente. Quasi ipsa placeat, saepe, animi eum suscipit modi doloribus molestias quis voluptatem, neque pariatur alias commodi. Ad debitis ipsam, laboriosam.</p>
			<p>Deleniti nostrum soluta tenetur alias, laudantium cum aspernatur suscipit minus ipsa. Sunt excepturi voluptatem, dicta nobis incidunt, vero necessitatibus blanditiis. Id harum incidunt libero dolores asperiores culpa earum praesentium impedit.</p>
		</div>
		<img src="author.jpeg" width="400px" alt="author" class="about-image">
	</div>
*/
