@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');

body{
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
	padding: 100px 50px;

}

.hero-banner{
	background-color: #cc3333;
	height: 80vh;
	padding: 50px 20px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

h1{
	font-weight: 800;
	font-size: 50px;

}

h2{

}

h3{
	font-size: 20px;
	font-weight: bold;
}
.hero-banner h3{
	color: white;
	margin: 0;
}
.hero-banner h1{
	color: white;
	margin: 0px 0 20px;
	padding-top: 20px;
}

h4{

}

a.cta, button.cta{
	font-size: 20px;
	font-weight: bold;
	color: white;
	background: #cc3333;
	display: inline-block;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 10px;
	margin: 20px 0;
	box-shadow: 1px 3px 7px rgba(0, 0, 0, .5);
}

.cartoon{
	width: 340px; 
	position: absolute;
	top: 110px;
	right: 50px;
}

@media only screen and (max-width: 780px) {


	.wrapper{
		z-index: 2;
	}
}

@media only screen and (max-width: 689px) {
	.cartoon{
		display: none;
	}
}

nav{
	height: 100px;
	background-color: rgba(0,0,0, .5);
	position: sticky; top: 0;
	padding-left: 20px;
	z-index: 10;
}

nav .logo{
	display: flex;
	width: 300px;
	height: 40px;
	position: absolute; top:33%;
	margin-top: -20px;
	text-decoration: none;
	font-size: 50px;
	font-weight: 800;
	color: white;
	margin-left: 50px;

}

nav ul{
	
	padding: 0;
	margin: 0;
	padding: 33px 55px;
	align-items: center;
	left: 0px;
}

nav ul li{
	padding: 0;
	margin: 0;
	display: block;
	float: right;
	align-items: center;
}

nav ul li a{
	display: block;
	height: 100%;
	box-sizing: border-box;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	padding:0 15px;
	color: white;
	font-weight: bold;
}

.services{
	width: 100%;
	align-items: center;
}

.services .service-row{
	width: 960px
	margin: auto;
	height: auto;
	padding: 50px 10px;
	display: grid;
	grid-auto-columns: 3fr;
	grid-template-columns: repeat(auto-fill, 300px);
	grid-template-rows: repeat(auto-fill, 300px);
	grid-gap: 30px;
	justify-content: center;
}

.services .service-row .col{
	box-sizing: border-box;
	height: 300px;
	text-align: center;
	border: 1px solid black;
}

.services .service-row .col-1{

}

.services .service-row .col-2{
	
}

.services .service-row .col-3{
	
}

.services .more{

}

/* 
	<div class="services">
		<div class="service-row">
			<div class="col-1 col">
				<h3>Deep</h3>
				<a href="#" class="more">more +</a>
			</div>
			<div class="col-2 col">
				<h3>Carpets</h3>
				<a href="#" class="more">more +</a>
			</div>
			<div class="col-3 col">
				<h3>Weekly</h3>
				<a href="#" class="more">more +</a>
			</div>
		</div>
		
	</div>
*/
