@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');

body{
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
	padding: 100px 50px;

}

.hero-banner{
	/*background-color: #cc3333;*/
	background-image: url("background1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
	height: auto;
	padding: 50px 20px;
	box-sizing: border-box;
	display: flex;
	align-items: center;

}*/

h1{
	font-weight: 800;
	font-size: 50px;

}

h2{

}

h3{
	font-size: 20px;
	font-weight: bold;
}
.hero-banner h3{
	color: white;
	margin: 0;
}
.hero-banner h1{
	color: white;
	margin: 0px 0 20px;
	padding-top: 20px;
}

h4{

}

a.cta, button.cta{
	font-size: 20px;
	font-weight: bold;
	color: white;
	background: #cc3333;
	display: inline-block;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 10px;
	margin: 20px 0;
	box-shadow: 1px 3px 7px rgba(0, 0, 0, .5);
}

.cartoon{
	width: 340px; 
	position: absolute;
	top: 160px;
	right: 50px;
}

@media only screen and (max-width: 780px) {


	.wrapper{
		z-index: 2;
	}
}

@media only screen and (max-width: 689px) {
	.cartoon{
		display: none;
	}
}

nav{
	height: 100px;
	background-color: rgba(0,0,0, .5);
	position: sticky; top: 0;
	padding-left: 20px;
	z-index: 10;
}

nav .logo{
	display: flex;
	width: 300px;
	height: 40px;
	position: absolute; top:33%;
	margin-top: -20px;
	text-decoration: none;
	font-size: 50px;
	font-weight: 800;
	color: white;
	margin-left: 50px;

}

nav ul{
	
	padding: 0;
	margin: 0;
	padding: 33px 55px;
	align-items: center;
	left: 0px;
}

nav ul li{
	padding: 0;
	margin: 0;
	display: block;
	float: right;
	align-items: center;
}

nav ul li a{
	display: block;
	height: 100%;
	box-sizing: border-box;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	padding:0 15px;
	color: white;
	font-weight: bold;
}

.services{
	width: 100%;
	height: auto;
	align-items: center;


}

.services .service-row{
	
	margin: 0 auto;
	height: auto;
	padding: 50px 70px;
	display: grid;
	
	grid-template-columns: repeat( auto-fit, minmax(250px, 251px));
	
	grid-gap: 40px;
	justify-content: center;
}

.services .service-row .col{
	box-sizing: border-box;
	height: 300px;
	text-align: center;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-top: 50px;


}

.services .service-row .col h3{
	position: relative;
	color: white;
	font-size: 30px;
	text-shadow: 1px 3px 5px #000;
}

.services .service-row .col a{
	position: absolute;
	bottom: 35px;
	color: white;
	text-decoration: none;
	text-shadow: 1px 3px 5px #000;
}

/*@media only screen and (max-width: 1120px){
	.services .service-row{
	
		margin: 0 auto;
		height: auto;
		padding: 50px 5px;
		display: grid;
		
		grid-template-columns: repeat( auto-fit, minmax(250px, 251px));
		grid-template-rows: repeat(auto-fill, 300px);
		grid-gap: calc(10px + 10%);
		justify-content: center;
	}
}

@media only screen and (max-width: 1040px){
	.services .service-row{
	
		margin: 0 auto;
		height: auto;
		padding: 50px 100px;
		display: grid;
		
		grid-template-columns: repeat( auto-fit, minmax(250px, 251fr));
		grid-template-rows: repeat(auto-fit, minmax(300px 1fr));
		grid-gap: calc(10px + 10%);
		justify-content: center;
	}
}*/

.services .service-row .col-1{
	background-image: url("col1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.services .service-row .col-2{
	background-image: url("col2.jpg");
	background-size: cover;
	background-repeat: no-repeat;	
}

.services .service-row .col-3{
	background-image: url("col3.jpg");
	background-size: cover;
	background-repeat: no-repeat;	
}

.services .more{

}

.about-us{

}

.about-text{
	max-width: 1160px;
	height: auto;
	margin: 0 auto;
	box-sizing: border-box;

}

.some-list{
	width: 470px;
	padding: 20px 20px 0 20px;
	box-sizing: border-box;background-color: silver;
	float: left;
	margin: 0 20px 20px 0;
	box-sizing: border-box;
	position: relative;

}

.about-text h3{
	font-size: 30px;
	width:960px;
	margin: 0 auto;
	padding: 10px;
	box-sizing: border-box;
	text-align: justify;
	overflow-wrap: break-word;

}
.about-text p{
	font-size: 20px;
	text-align: justify;
	overflow-wrap: break-word;
}

.floating{
	
}
.about-text .wrapper{
	height: auto;
	width: auto;
}




.some-list li{
	height: 70px;
	border-radius: 10px;
	font-size: 40px;
	color: white;
	font-weight: bold;
	display: block;
	margin-bottom: 20px;
	padding-right: 6px 20px;
	box-sizing: border-box;
}

li{
	padding: 5px 14px;
}

.some-list li.blue{background-color: blue;}
.some-list li.grey{background-color: grey;}
.some-list li.yellow{
	background-color: yellow; 
	color: #000;
	position: absolute;
	top: 100px;
	left: 70px;
	right: -9px;
	transform: rotate(6deg);
	box-shadow: 0 2px 14px rgba(0,0,0,.3);
}
.some-list li.green{background-color: green;}
.some-list li.purple{background-color: purple;}
.some-list li.orange{background-color: orange;}

/*.some-list li.yellow:after{
	content: 'h';
	padding-top: 1em;
	text-align: center;
	font-size: 16px;
	display: block;
	position: absolute;
	margin: 0 auto;
	height: 50px;
	width: 54px;
	background: white;
	bottom: -30px;
	left: 60%;
}*/

.about-image{
	float: right;
	transform: translateY(30%);
	margin: 20px;
	transform: translateX(1em);
}

.fb{
	grid-area: box-1;
	background-color: #3b5998;
	padding-right: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.insta{
	grid-area: box-2;
	background-color: #C13584;
	padding-right: 50px;
	display: flex;
	justify-content: center;
	align-items: center;


}
.footer-row{

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "box-1 box-2";
	height: 200px;
}

.testimonial{
	width: 60%;
	margin: 0 auto;
	height: auto;
	background: lightgrey;
	box-shadow: 0 3 14 rgba(0,0,0,.3);
	border-radius: 10px;
	text-align: center;
	padding: 30px;
}

p.test{
	font-size: 20px;
}

.contact{
	
	margin: 0 auto;
	height: 150px;
	width: 167px;
	padding: 5px;
	
}

.contact .cta{
	align-content: center;
	

}

.popup{
	display: none;
}


/*   */
/* 
			<div class="testimonial">
		<h4 class="test-name">Someone's Name</h4>
		<p class="test">Culpa aliquid temporibus quas quaerat iste mollitia a, adipisci neque.</p>
	</div>
*/
